<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Car_Setup_Installer_for_iRacing.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Car_Setup_Installer_for_iRacing.My.MySettings>
            <setting name="iRacingDefaultSetupLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstTimeUse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastBrowseResult" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCarSelection" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTrackFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAdditionalFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CboxState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CboxCutState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSetupSelection" serializeAs="String">
                <value />
            </setting>
            <setting name="cbox_Oval" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbox_Road" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbox_DirtOval" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cbox_DirtRoad" serializeAs="String">
                <value>False</value>
            </setting>
        </Car_Setup_Installer_for_iRacing.My.MySettings>
    </userSettings>
</configuration>